! ===== 接口配置：Loopback0 + GigabitEthernet2 =====
{% for intf in host.data.interfaces %}
interface {{ intf.name }}
 ip address {{ intf.ip }} {{ intf.mask }}
{% if intf.enabled | default(false) %}
 no shutdown
{% endif %}
!
{% endfor %}
